<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/demo_style.css'/>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
	<script type='text/javascript' src='js/demo.js'></script>
</head>

<body>

	<div id='title'>
		<span id='heading'>Demos</span>
	</div>

	<a href="/demo/2048"><div id="demo2048" class="col_1"><span id="desc2048">Try 2048!</span></div></a>
	
	<a href="http://eschmidt.scripts.mit.edu/rcjs/pong"><div id="pong" class="col_2"><span id="descpong">Try Pong!</span></div>
	<div id="photobooth" class="col_3"></div></a>

	<a href="http://aanojima.mit.edu/photobooth"><div id="pb" class="col_3"><span id="descpb">Try Photobooth!</span></div>
	</a>

</body>
</html>