<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<script type='text/javascript' src='js/demo.js'></script>
</head>

<body>
	<div id='welcome' class='title'>welcome to </div>
	<div id='rc' class='title'>rc.js</div>

	<div id='menu'>
		<ul>
      		<li id='menu_demo'><a href="/demo">Demo</a></li>
      		<li id='menu_gh'><a href="https://github.com/ericschmidt/rcjs-lib">View on GitHub</a></li>
      		<li id='menu_down_app'><a href="/app.rc.min.js" download>Download (Application)</a></li>
      		<li id='menu_down_controller'><a href="/controller.rc.min.js" download>Download (Controller)</a></li>
    	</ul>
	</div>

	<div id='desc'>
		Customizable remote controls for mobile devices.
	</div>

	<script src="/socket.io/socket.io.js"></script>
</body>

</html>