body {
	width: 100%;
	height: 100%;
	font: 14px "Poiret One", Helvetica, Arial, sans-serif;
	background-color: #3AA5FC;
}

h1{
	color: white;
	font: 88px "Poiret One", Helvetica, Arial, sans-serif;

}

.col_1{
	position: absolute;
	top:200px;
	left: 100px;
	height: 200px;
	/*margin: 20px 50px;*/
	padding: 15px;
}

.col_2{
	position: absolute;
	top:200px;
	left: 400px;
	height: 200px;
	/*margin: 20px 50px;*/
	padding: 15px;
}

#heading{
	position: absolute;
	font: 80px "Poiret One", Helvetica, Arial, sans-serif;
	color: white;
	left: 50px;
}

#title{
	position: absolute;
	width: 580px;
	top: 50px;
	left: 0px;
	right: auto;
	height: 95px;
	background-color:rgba(77, 77, 77,0.5);
	/*background-color: #4d4d4d;*/
}

.selected{
/*	position: absolute;
	width: 200px;
	height: 260px;
	padding: 40px 10px;
	top: 160px;
	left: 5%;
	right: auto;
	margin: 30px 10px;*/
	padding: 15px;
	height: 300px;
	border-radius: 10px;
	border: solid 3px #4d4d4d;
}

#demo2048{
	position: absolute;
	background: url("http://localhost:8000/assets/2048.png");
	background-size: contain;
	width: 140px;
	height: 140px;
/*	top: 240px;
	left: 10%;*/
	/*right: auto;*/
}

#pong{
	position: absolute;
	background: url("http://localhost:8000/assets/pong.png");
	background-size: contain;
	width: 140px;
	height: 140px;
/*	top: 240px;
	left: 10%;*/
	/*right: auto;*/
}

#desc2048{
	position: absolute;
	width: 160px;
	/*height: 160px;*/
	top: 180px;
	/*left: 2%;*/
	/*right: auto;*/
	margin: 4px;
	color: white;
	font: 30px "Poiret One", Helvetica, Arial, sans-serif;
}

#descpong{
	position: absolute;
	width: 160px;
	/*height: 160px;*/
	top: 180px;
	/*left: 2%;*/
	/*right: auto;*/
	margin: 4px;
	color: white;
	font: 30px "Poiret One", Helvetica, Arial, sans-serif;
}
