<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/demo.css'/>
  </head>


  <body>
    <!-- <img src="/assets/logo.jpg" id='logo'> -->
    
  </body>
</html>