<!DOCTYPE html>
<html>
<head>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<!-- RCJS -->
	<script src="/controller.rc.min.js"></script>
</head>
<body>
	<div><input class="game-id"></input><button class="controller-setup">Configure</button></div>
	<button id="up">UP</button>
	<button id="left">LEFT</button>
	<button id="right">RIGHT</button>
	<button id="down">DOWN</button>
	<script src="/javascripts/2048/keyboard_controller.js"></script>
</body>
</html>

