<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<!-- RCJS -->
	<script src="/controller.rc.min.js"></script>
</head>
<body>
	<div><input class="game-id"></input><button class="controller-setup">Configure</button></div>
	<img src="/images/2048/arrowControl.png" style="width:300px;margin:auto">
	<script src="/javascripts/2048/keyboard_controller.js"></script>
</body>
</html>

